.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  background-color: lightgray;
  align-items: center;
}
.cart {
  display: flex;
  gap: 20px;
  padding-right: 40px;
  align-items: center;
}
